
.header{
    display: inline-flex; 
    flex-direction: row;
    border:1px solid black;
    text-align: center;
    margin-top: 10px;
    border-left: none;
    border-right: none;
}
.headertext{
    text-align: center;
    margin-top: 10px;
    margin-left:16em;
}
.btn1{
    border-radius: 50px;
    width: 80px;
    margin-top: 10px;
    height: 40px;
    margin-left:27em;
}

@media (max-width:1300px){
    .header{
        display: inline-flex; 
        flex-direction: row;
        border:1px solid black;
        text-align: center;
        margin-top: 10px;
        border-left: none;
        border-right: none;
    }
    .headertext{
        text-align: center;
        margin-top: 10px;
        margin-left: 1em;
    }
    .btn1{
        border-radius: 50px;
        width: 80px;
        margin-left: 20em;
        margin-bottom: 10px;
        height: 40px;
    }
}
@media only screen and (max-width: 1300px){
.btn1 {
    border-radius: 50px;
    width: 80px;
    margin-left: 9em;
    margin-bottom: 10px;
    height: 40px;
}
}
@media only screen and (max-width: 1290px) and (max-width: 600px) and (min-width: 300px){
.btn1 {
    border-radius: 50px;
    width: 80px;
    margin-left: 8em;
    margin-bottom: 10px;
    height: 40px;
}
}
@media only screen and (max-width:1290px) and (max-width:600px){
    .header{
        display: inline-flex; 
        flex-direction: row;
        border:1px solid black;
        text-align: center;
        margin-top: 10px;
        border-left: none;
        border-right: none;
    }
    .headertext{
        text-align: center;
        margin-top: 10px;
        margin-left: 1em;
    }
    .btn1{
        border-radius: 50px;
        width: 80px;
        margin-left: 5em;
        margin-bottom: 10px;
        height: 40px;
    }

}
@media (min-width:300px){
    .btn1{
        border-radius: 50px;
        width: 80px;
        margin-left: 5em;
        margin-bottom: 10px;
        height: 40px;
    }
}
/* jwnwk */

.title{
    float: left;
    margin-top: 30px;
}
h3{
    float: left;
}
p{
    float: left;
}
a{
    margin-right: -2em;
    float: right;
}
.btn2{
    border-radius: 50px;
        width: 80px;
        height: 40px;
        float: left;
        margin-right: 10px;
}
.btn3{
    border-radius: 50px;
        width: 80px;
        height: 40px;
        float: left;
}
@media only screen and (max-width:1300px) and (max-width:600px) and (min-width:300px){
    .title{
        float: left;
        margin-top: 30px;
    }
    h3{
        float: left;
    }
    p{
        float: left;
    }
    a{
        margin-right: 15em;
        text-align: center;
    }
    .btn2{
        border-radius: 50px;
            width: 80px;
            height: 40px;
            float: left;
        
    }
    .btn3{
        border-radius: 50px;
            width: 80px;
            height: 40px;
            float: left;
    }

}